
/shelf/
/workspace.xml
google-services.json
local.properties
secrets.properties
key.properties
*.jks
*.keystore
*.apk
*.ap_
*.aab
*.dex
*.class
/build/
*/build/
bin/
gen/
out/
.gradle/
*.iml
.idea/
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.hprof
*.qcow2
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
*.log
*.ec